tests/CodeAgent.Core.Tests/bin/*
tests/CodeAgent.Core.Tests/obj/*
src/CodeAgent.CLI/bin/*
src/CodeAgent.CLI/obj/*
src/CodeAgent.MCP/bin/*
src/CodeAgent.MCP/obj/*
src/CodeAgent.LLM/bin/*
src/CodeAgent.LLM/obj/*
src/CodeAgent.Infrastructure/bin/*
src/CodeAgent.Infrastructure/obj/*
src/CodeAgent.Core/bin
src/CodeAgent.Core/obj
.vs/*
src/CodeAgent.Core/obj/Debug/net8.0/CodeAgent.Core.AssemblyInfo.cs
src/CodeAgent.Core/obj/Debug/net8.0/CodeAgent.Core.AssemblyInfoInputs.cache
src/CodeAgent.Core/obj/Debug/net8.0/CodeAgent.Core.assets.cache
src/CodeAgent.Core/obj/Debug/net8.0/CodeAgent.Core.csproj.AssemblyReference.cache
src/CodeAgent.Core/obj/Debug/net8.0/CodeAgent.Core.GeneratedMSBuildEditorConfig.editorconfig
.gitnexus
.claude/skills/gitnexus/gitnexus-cli/SKILL.md
.claude/skills/gitnexus/gitnexus-debugging/SKILL.md
.claude/skills/gitnexus/gitnexus-exploring/SKILL.md
.claude/skills/gitnexus/gitnexus-guide/SKILL.md
.claude/skills/gitnexus/gitnexus-impact-analysis/SKILL.md
.claude/skills/gitnexus/gitnexus-refactoring/SKILL.md
